# Neutron Init script

#rss_add_channel('jsf', 'http://www.jabber.org/news/rss.xml')
#rss_add_channel('jplanet', 'http://planet.jabber.org/rss20.xml')
#rss_add_channel('slashdot', 'http://www.slashdot.org/slashdot.rdf')
#rss_add_channel('securitylab_news', 'http://www.securitylab.ru/_Services/Export/RSS/news.php')
#rss_add_channel('securityfocus_vulnr', 'http://www.securityfocus.com/rss/vulnerabilities.xml')
#rss_add_channel('securitylab_vulnr', 'http://www.securitylab.ru/_Services/Export/RSS/vulnerabilities.php')
#rss_add_channel('securitylab_virus', 'http://www.securitylab.ru/_Services/Export/RSS/virus.php')
#rss_add_channel('osvdb_vulnr', 'http://osvdb.com/backend/rss.php?n=10')
#rss_add_channel('securitylab_poc', 'http://www.securitylab.ru/_Services/Export/RSS/poc.php')
#rss_add_channel('secunia_vir', 'http://secunia.com/rss_latest_virus_alerts/o.rss')
#rss_add_channel('cve_vulnr', 'http://nvd.nist.gov/download/nvd-rss-analyzed.xml')
#rss_add_channel('secunia_adv', 'http://secunia.com/information_partner/anonymous/o.rss')
#rss_subscribe('jsf', 'jabber@conf.jabber.comm')

thread.start_new(rss_query_channels_loop, ())
